

// Variables
// Colors

$color-black: #000000;
$color-white: #FFFFFF;

$color-pale-cerulean: #A3C3D9;

$color-periwinkle-crayola: #CCD6EB;
$color-plum: #993399;
$color-ghost-white: #E9ECF5;
$color-granite-grey: #65655E;

$color-first:     $color-pale-cerulean;
$color-secondary: $color-periwinkle-crayola;
$color-third:     $color-plum;
$color-fourth:    $color-ghost-white;
$color-fifth:     $color-granite-grey;

$color-bg: $color-granite-grey;
$font-color-primary: $color-granite-grey;


body {

	background-color: $color-granite-grey;

	height: 100%;
	width: 100%;

}

.page {

	background-color: $color-ghost-white;
	height: auto;
	width: 100%;

}

.container {

	.text-grey {

		color: $color-granite-grey;

	}

}

footer {

background-color: $color-granite-grey;
color: $color-ghost-white;
text-align: center;
width: 100%;

}
